LIST AND IT METHODS WITH SLICING AND INDEXING

In [16]:
#This is a simple list containing string
mylist:list[str] = ["raza","ali","hussain","hasnain"]
mylist[1:-1]

['ali', 'hussain']

In [17]:
[display(i) for i in dir(list) if "__" not in i]

'append'

'clear'

'copy'

'count'

'extend'

'index'

'insert'

'pop'

'remove'

'reverse'

'sort'

[None, None, None, None, None, None, None, None, None, None, None]

In [36]:
from audioop import reverse
from typing import Any
mylist:list[Any] = ["raza","ali","hussain","hasnain"]
my_tuple = ({"myname":"raza"})
mylist.append(my_tuple)
mylist.reverse()
mylist[0]
mylist.pop(1)

'hasnain'

In [29]:
mylist:list[Any] = ["raza","ali","hussain","hasnain",{"name":"RaZa"}]
print(mylist)
new_list = mylist.copy()
print(new_list)
new_list[4]["name"] = "RAZA"
print(mylist)
print(new_list)

['raza', 'ali', 'hussain', 'hasnain', {'name': 'RaZa'}]
['raza', 'ali', 'hussain', 'hasnain', {'name': 'RaZa'}]
['raza', 'ali', 'hussain', 'hasnain', {'name': 'RAZA'}]
['raza', 'ali', 'hussain', 'hasnain', {'name': 'RAZA'}]

In [30]:
mylist:list[str] = ["raza","ali","hussain","hasnain","raza","raza","ali"]
print(mylist.count("raza"))
print(mylist.count("ali"))

3
2

In [45]:
mylist:list[Any] = ["raza","ali","hussain","hasnain"]
newlist = ['apple','bannana','orange']
mylist.extend(newlist)
print(mylist)
mylist.insert(0,"rAZa")
mylist.index('orange')
mylist.remove("hasnain")
mylist.sort(reverse=True)
mylist

['raza', 'ali', 'hussain', 'hasnain', 'apple', 'bannana', 'orange']

['raza', 'rAZa', 'orange', 'hussain', 'bannana', 'apple', 'ali']

In [122]:
            #0      #1      #2     #3     #4     #5      #6
mylist = ["raza","virat","babar","ali","kevin","adam","travis"]
            #-7   #-6      #-5    #-4    #-3     #-2     #-1
mylist[6:-8:-1]

['travis', 'adam', 'kevin', 'ali', 'babar', 'virat', 'raza']

In [109]:
number_input = int(input("Enter your number:"))
for num in range(1,13):
    print(f"""{number_input} x {num} = {number_input * num}""")

200 x 1 = 200
200 x 2 = 400
200 x 3 = 600
200 x 4 = 800
200 x 5 = 1000
200 x 6 = 1200
200 x 7 = 1400
200 x 8 = 1600
200 x 9 = 1800
200 x 10 = 2000
200 x 11 = 2200
200 x 12 = 2400