In [3]:
!conda install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

In [4]:
# !python -m pip install pandas
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [5]:
num1:int = 7
num2:int = 7
#addition
print(f"""addition:{num1 + num2}""")
#subraction
print(f"""subtraction:{num1 - num2}""")
# Multiplication
print(f"""Multiplication:{num1 * num2}""")
# Division
print(f"""Division:{num1 / num2}""")
#exponent
print(f"""exponent:{num1 ** 2}""")
print(f"""exponent:{num2 ** 1}""")
#floor division round of the answer when dividing if it is in decimal
print(f"""floordivision:{6.1//5}""")

addition:14
subtraction:0
Multiplication:49
Division:1.0
exponent:49
exponent:7
floordivision:1.0

Python Assignment Operators

In [6]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

Python Comparison Operators

In [7]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [8]:
a = 7
b = 7
print(a==b) #true
print(a!=b) #false
print(7>10) #false
print(7<10) #true
print(a<=b) #true
print(8>=8) #true

True
False
False
True
True
True

In [9]:
print("a" != "b") #true
#ord tells the ascii number of any value between 0 to 9 and A to Z
ord("9")
#chr tell the value of an ascii number
chr(65)
#this will not work beacause the letter have ascii number which are unique to a and b are not the same
if("a" == "b"):
    print("true")
#every thing has an id it shows the id
print(id("a"))

True
140705847889120

Python Logical Operators

In [10]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [11]:
#when we use 'and' operator all the conditions should be true fir the code to run if even a single condition is false the cide will not run and false will be return
#as mentioned before this will not work beacause every letter has a different ascii key
if("a"=="a" and "b" == "B"):
    print("true")
else:
    print("false")
#this will return true
if("a"=="a" and "b" == "b"):
    print("true")

false
true

In [12]:
#For 'or' operator any one condition should be true for the code to work and if every condition is false it will return false
if(1<2 or 3==3):
    print("True")
#1 of the three condition is true that why this will work
if(1>2 or 3==3 or 3!=3):
    print("True")
if(1>2 or 3==4 or 3!=3):
    print("True")
else:print("false")

True
True
false

In [13]:
#for 'not' operator what ever will be the result(false or true) it will be reversed
print(not 3==3) #the output will be true but it will be reversed

False

In [14]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [18]:
x = 'abc'
a = '123'

print(a is x)

print(a is not x)

False
True

Pedmas

In [19]:
# python uses pedmas to solve the equations
# p for parantheses
# e for exponent
# d/m division and multiplication (left to right)
# a/s addition and subtraction (left to right)
print((3 + 5) * 2 - 4 / 2**2)

15.0

In [23]:
# 'in' operator is used to check if the value exist in an itreble
names:list[str] = ["Raza","hussain","ali"]
print("Raza" in names) # true
print("raza" in names) # false
# 'not in' operator is used to check if the value does not exist in an itreble
print("hasnain" not in names) # true

True
False
True

In [24]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!